.ccbutton {
    touch-action: none;
}

.ccbutton .target {
    background-color: grey;
    width: calc(100% - 2em);
    height: calc(100% - 2em);

    display: grid;
    justify-content: center;
    align-content: center;
    text-align: center;
    font-family: monospace;
}

.ccbutton .press {
    font-weight: bold;
    background-color: lightgrey;
    color: black;
}

.notebutton {
    touch-action: none;
    display: flex;
    align-items: center;
}

.notebutton .target {
    background-color: grey;
    width: calc(100% - 2em);
    height: calc(100% - 2em);

    display: grid;

    align-content: center;
    text-align: center;
    font-family: monospace;
}

.notebutton .press {
    font-weight: bold;
    background-color: lightgrey;
    color: black;
}