.ccslider {
  display: flex;
  flex-direction: column;
  width: calc(100% - 2em);
  height: 100%;
}

.horiz-mixer .ccslider {
  margin: 0 .5em;
}

.vert-mixer .ccslider {
  margin: .5em 0;
}

.ccslider button {
  width: 100%;
  background-color: transparent;
  color: white;
  font-size: 1em;
  margin: .3em;
  font-family: monospace;
  border: none;
  white-space: nowrap;
}

.slider {
  width: 100%;
  height: 100%;
  background: lightgrey;
  touch-action: none;
  position: relative;
}

.slider.horizontal .fill {
  bottom: 0;
  width: 100%;
}


/*.slider.vertical .fill {
  left: 0;  
  height: 100%;
}*/

.slider .fill {
  position: absolute;
  background: darkgrey;
  box-sizing: border-box;
  pointer-events: none;
}

.slider.horizontal .relative {
    border-top: 1em solid green;
}
.slider.horizontal .absolute {
    border-top: 1em solid orange;
}
.slider.horizontal .snapback {
    border-top: 1em solid red;
}

.slider.vertical .relative {
    border-right: 1em solid green;
}
.slider.vertical .absolute {
    border-right: 1em solid orange;
}
.slider.vertical .snapback {
    border-right: 1em solid red;
}

/* refactor */

.ccslider .vertical {
  width: 100%;
}
.cclider .horizontal {
  height: 100%;
}

.ccslider .vertical .fill {
  left: 0;  
  height: 100%;
}