.overlay {
  width: 100%;
  height: 100%;
}

.overlay.hide {
  display: none !important;
}

.tab_parent a {
    margin: 0 1em;
    font-size: 1em;

    color: black;
    background-color: white;
    padding: 1em 1em;
}

#grid-demo.overlay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}