.overlay {
  width: 100%;
  height: 100%;
}

.overlay.hide {
  display: none !important;
}

.tab_parent {
  display: flex;
  justify-content: end;
}

.tab_parent a {
  display: block;
  font-size: 1em;
  color: black;
  background-color: white;
  padding: .5em .5em;
  align-self: center;
  font-size: 1.2em;
}

#grid-demo.overlay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
#dj-demo.overlay {
  display: flex;

}

#dj-demo #sliders {
  width: 100%;
}

#performance.overlay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

#performance #h_sliders {
  display: flex;
}

#performance #v_sliders {
  gap: 5em;
  display: flex;
  flex-direction: column;
  margin: 10em 1em;
}