.rotary .widget {
    width: 5em;
    height: 5em;
    border-radius: 50%;
    background-color: grey;
    position: relative;
    touch-action: none;
}

.rotary .dial {
    position: absolute;
    width: 4px;
    height: 40%;
    background-color: #fff;
    top: 10%;
    left: 50%;
    transform-origin: 50% 90%;
    transform: translateX(-50%) rotate(var(--rotation));
    border-radius: 2px;
}

.rotary {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.rotary .label {
    margin: 1em 0;
}

.rotary.fill .widget {
    width: 100%;
    height: 100%;
}