.xypad {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
}

.xypad .target {
    width: calc(100% - 2em);
    height: calc(100% - 2em);
    background-color: darkgrey;
    touch-action: none;
}

.xypad .label {
    margin: 1em;
}

.xypad .target .touchhandler {
    display: none;
    width: 2em;
    height: 2em;

    left: 0;
    top: 0;

    position: relative;

    background-color: green;

    transform: translate(
        calc((var(--xpos, 0) / 127) * 100%),
        calc(var(--ypos, 0) / 127)
    )
    
}

.xypad .target.pressed {
    background-color: grey;
}