.ccbutton {
    touch-action: none;
}

.ccbutton .press {
    font-weight: bold;
    background-color: lightgrey !important;
    color: black;
}
.ccbutton,
.notebutton {
    display: grid;
    touch-action: none;
    align-content: center;
    justify-content: center;
}

.ccbutton .target,
.notebutton .target {
    background-color: grey;
    height: 4em;
    width: 100%;
    display: flex;
    
    text-align: center;
    font-family: monospace;
}

.notebutton .press {
    font-weight: bold;
    background-color: lightgrey;
    color: black;
}