[data-dialog-trigger]>* {
  touch-action: none;
  pointer-events: none;
}

dialog[open] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--ui-layer-one);
  color: white;

  /*   display: grid;
  grid-template-areas:
  "dialog_header"
  "dialog_content"
  "dialog_actions"; */
}

dialog>header {
  grid-area: dialog_header;
  display: inline;
}

dialog>main {
  grid-area: dialog_content;
  grid-row: 2 / 3;
}

dialog>footer {
  grid-area: dialog_actions;
  display: inline;
}

dialog>footer button {}


