[data-dialog-trigger]>* {
  touch-action: none;
  pointer-events: none;
}

dialog[open] {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: var(--ui-layer-one);
  color: white;
  width: 30%;

  /*   display: grid;
  grid-template-areas:
  "dialog_header"
  "dialog_content"
  "dialog_actions"; */
}

dialog>header {
  grid-area: dialog_header;
  display: inline;
}

dialog>main {
  grid-area: dialog_content;
  grid-row: 2 / 3;
  height: 100%;
}

dialog>footer {
  grid-area: dialog_actions;
  display: flex;
  width: 100%;
}


dialog>footer button {
  border: 0;
  width: 100%;
  font-size: 1.2em;
  font-family: monospace;
  padding: 1em 0;
  margin: 1em;
  color: black;
  background-color: white;
}


