.jogwheel {
  display: flex;
  align-items: center;
  justify-content: center;
}
.jog-target {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background: grey;
  touch-action: none;
}
.jog-target::after {
  position: relative;
  content: " ";
  display: block;
  left: 75px;
  top: 75px;
  width: 50px;
  height: 50px;
  background-color: black;
  border-radius: 50%;
}