.horiz-mixer {
    display: flex;
    gap: 1em;
    width: calc(100% - 1em) !important;
}

.vert-mixer {
    display: flex;
    flex-direction: column;
    gap: 1em;
    width: calc(100% - 1em) !important;
}

.empty {
    
}

#overlays > * {
  margin: .5em;
  display: flex;
  height: 100%;
  width: 100%;
}

.widget {
    height: 100%;
    width: 100%;
}