/*.tab_parent {
  display: flex;
  justify-content: end;
  justify-content: flex-end;
}

.tab_parent a {
  display: block;
  font-size: 1em;
  color: black;
  background-color: white;
  padding: .5em .5em;
  align-self: center;
  font-size: 1.2em;
}*/

#disconnect-fallback {
  display: flex;
  justify-content: center;
  align-items: center;
}

#disconnect-fallback .container p {
  font-size: 2em;
  color: var(--error);
}

#disconnect-fallback .container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#disconnect-fallback .container button {
  display: block !important;
  border: none;
  padding: 1em 0;
  background-color: var(--fg);
  color: var(--bg);
  font-family: monospace;
}