#disconnect-fallback {
  display: flex;
  justify-content: center;
  align-items: center;
}

#disconnect-fallback .container p {
  font-size: 2em;
  color: var(--error);
}

#disconnect-fallback .container {
  width: 50%;
  display: flex;
  flex-direction: column;
}
#disconnect-fallback .container button.primary {
  background-color: var(--fg);
  color: var(--bg);
}
#disconnect-fallback .container button {
  display: block !important;
  border: none;
  padding: 1em 0;
  font-family: monospace;
}

#overlay_name {
  display: flex;
  justify-content: center;
  align-items: center;
}