name: "Setup Build Environment"
description: "Install all the stuff needed to build the project"

runs:
    using: "composite"
    steps:
        - name: Setup Node
          uses: actions/setup-node@v4
          with:
            node-version: 24
            cache-dependency-path: web/yarn.lock

        - name: Setup Deno
          uses: denoland/setup-deno@v2
          with:
            deno-version: v2.4.0

        - name: Setup Rust
          uses: actions-rust-lang/setup-rust-toolchain@v1
          with:
            rustflags: ""

        - name: Install dependencies (Linux)
          if: matrix.os == 'ubuntu-latest'
          shell: /bin/bash
          run: |
            sudo apt update
            sudo apt install -y libjack-dev libasound-dev