body, #app {
  margin: 0;
  color: var(--fg);
  background-color: var(--bg);
  font-family: monospace;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
  overflow: none;
}

#app > header {
  grid-area: header;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  border-bottom: .5em solid grey;
}

#app > main {
  padding: 1em 0;
  grid-area: main;
  align-self: stretch;
  width: calc(100% - 2em);
  height: 100%;
  margin: 0 1em;
}

#app > footer {
  /*border-top: .5em solid grey;*/
  display: none;
  grid-area: footer;
}

.bar-fixed-small {
  width: 100px;
}
.bar-fixed-middle {
  width: 200px;
}
.bar-fixed-large {
  width: 300px;
}
#menu_container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: .5em;
}

#menu_container button {
  height:100%;
  background-color: transparent;
  color:var(--fg);
  font-family: monospace;
  font-size: 1.5em;
  border: none;
}
/*#menu_container button {
  width: 100%;
  height: 100%;
  background-color: transparent;
  background-color: transparent;
  font-family: monospace;
}*/

.title {
  display: inline;
}

.title button {
  height: 100%;
  margin: 0;
  background-color: transparent;
  border: none;
  color: white;
}

.title .name #app_version {
  font-size: .5em;
  justify-self: center;
  vertical-align: middle;
}

.title .name {
  font-size: 2em;
  vertical-align: super;
}

#app.disconnected .online {
  display: none;
}

#app:not(.disconnected) .disconnect-fallback {
  display: none !important;
}

.disconnect-fallback {
  display: block;
}


.overlay-fallback {
  display: none;
}

/* iPhone specifics */

@media (min-device-width:320px) and (max-device-width:768px) {

  #app > header {
    display: flex;
    justify-content: space-between;
  }

  #app > header > #menu_controller {
    display: none;
  }

  #app #menu_container .menu-connected-label {
    display: none !important;
  }
  #app #menu_container .menu-disconnected-label {
    display: none !important;
  }
}

/*#app:not(.disconnected) header #menu_container .menu-disconnected-label {
  display: none;
}
#menu_container .menu-disconnected-label {
  display: inline;
}*/

/*#app:not(.disconnected) header #menu_container .menu-connected-label {
  display: inline;
}*/

#app #menu_container > .menu-connected-label {
  display: inline;
}
#app.disconnected #menu_container > .menu-connected-label {
  display: none !important;
}

#app #menu_container > .menu-disconnected-label {
  display: none;
}

#app.disconnected #menu_container > .menu-disconnected-label {
  display: inline !important;
}
/* 
#app:not(.disconnect) #menu_container > #menu-disconnected-label {
  display: inline;
}

#app.disconnect #menu_container > #menu-connected-label {
  display: none;
}
#app.disconnect #menu_container > #menu-disconnected-label {
  display: inline;
} */

.menu-disconnected-label {
  display: none;
  color: red;
}

.menu-connected-label {
  display: inline;
  color: greenyellow;
}