.shift {
    display: block;
}

.shift .panel {
    display: none;
    width: 100%;
    height: 100%;
}

.shift[data-alternate="false"] .panel.a {
    display: block !important;
}

.shift[data-alternate="true"] .panel.b {
    display: block !important;
}

