#root {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
}

body {
    margin: 0;
}

#root > header {
    display: flex;
    justify-content: space-between;
}

#overlays {
  padding: 1em 0;
  grid-area: main;
  align-self: stretch;
  width: calc(100% - 2em);
  height: 100%;
  margin: 0 1em;
}