@import url(./css/button.css);
@import url(./css/jogwheel.css);
@import url(./css/rotary.css);
@import url(./css/slider.css);
@import url(./css/xypad.css);

:root {
    --relative: green;
    --absolute: orange;
    --snapback: red;
}

@media (prefers-color-scheme: light) {
    :root {
        --background: white;
        --font: black;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: black;
        --font: white;
    }
}

.overlay[data-overlay="view"] > * {
    align-items: center;
    -webkit-user-select: none;
    user-select: none;
}