body, #app {
  margin: 0;
  color: white;
  background-color: black;
  font-family: monospace;
  width: 100vw;
  height: 100vh;

  display: flex;
  flex-direction: column;
}

.overlay {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  height: 100%;
}

#sliders {
  display: flex;
  flex-direction: row;
}

#buttons {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

}
header {
  grid-area: header;
}
main {
  grid-area: main;
  align-self: stretch;
  width: calc(100% - 2em);
  height: 100%;
  margin: 0 1em;
}
footer {
  grid-area: footer;
}