/* Add your custom CSS Styles here */
#ableton_performance #returns {
    margin: 10em 0 !important;
    height: calc(100% - 20em);
}

#traktor_performance #levels {
    width: 50%;
}

#note-midi-grid {
    gap: 5px;
}

#note-midi-grid {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow:hidden;
}

#note-midi-grid > * {
    width: 100vh;
}

.overlays #note-midi-grid {
    margin: 0;
}

#note-midi-grid .grid-mixer > .notebutton .target {
    width: calc(100% - 5px);
    height: calc(100% - 5px);
}

#fullscreen-xy-pad .ccslider {
    flex-shrink: 12
}