on:
  release:
    types: [published]

jobs:
  notify:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/notify
        with:
          webhook: ${{ secrets.DISCORD_WEBHOOK_URL }}