#name: Release on vx.x.x Tag
name: "Build multiplatform"

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            target: linux
          - os: macos-latest
            target: mac
          - os: windows-latest
            target: win

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4
      - uses: ./.github/actions/setup-env
      - uses: ./.github/actions/build-bindings
      - uses: ./.github/actions/build-webui
        with:
          target: ${{ matrix.target }}
      - uses: ./.github/actions/build-driver
        with:
          target: ${{ matrix.target }}
      - uses: ./.github/actions/build-server
        with:
          target: ${{ matrix.target }}

      - uses: actions/upload-artifact@v4
        with:
          name: build-${{ matrix.target }}
          path: |
            web/bindings/*
            web/dist/*
            midi-driver/bindings/*
            midi-driver/native/*
            server/**/homebrewdj.linux
            server/**/homebrewdj.mac
            server/**/homebrewdj.exe

      - uses: actions/upload-artifact@v4
        if: matrix.os == 'ubuntu-latest'
        with:
          name: overlays
          path: |
            overlays/*
      - uses: actions/upload-artifact@v4
        if: matrix.os == 'ubuntu-latest'
        with:
          name: LICENSE
          path: |
            LICENSE
              
  create-release:
      runs-on: ubuntu-latest
      needs: build
      steps:
        - name: Download all build artifacts
          uses: actions/download-artifact@v4
          with:
            path: dist

        - name: Inspect dist
          run: ls -R dist
          
        - name: Release (on tags only)
          uses: softprops/action-gh-release@master
          if: startsWith(github.ref, 'refs/tags/')
          env:
            GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          with:
            draft: true
            files: |
              dist/build-linux/**/homebrewdj.linux
              dist/build-mac/**/homebrewdj.mac
              dist/build-win/**/homebrewdj.exe
              dist/build-mac/**/libmidi_driver.dylib
              dist/build-linux/**/ibmidi_driver.so
              dist/build-win/**/midi_driver.dll
              dist/**/LICENSE