name: Release

on:
  push:
    tags:
      - "v*"
  workflow_dispatch:

jobs:
  build:
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]

    runs-on: ${{ matrix.os }}

    steps:
      - uses: actions/checkout@v4

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24
          #cache: yarn
          cache-dependency-path: web/yarn.lock


      #- run: cargo test --all-features


      #- uses: denoland/setup-deno@v1
      #  with:
      #    deno-version: v2.x

      - name: Build Web UI
        working-directory: ./web
        run: yarn && yarn build

      - uses: actions-rust-lang/setup-rust-toolchain@v1

      - name: Build executable
        run: cargo build --release

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: midi-controller-${{ runner.os }}
          path: target/release/midi-controller*